@page
@model SE_Project.Pages.AddSocietyModel
@{
    ViewData["Title"] = "Add Society";
    Layout = null;
}

<span style="font-family: verdana, geneva, sans-serif;">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>SMS</title>
        <link rel="stylesheet" href="/css/AddSociety.css" />
        <!-- Font Awesome Cdn Link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    </head>

    <body>
    <div class="container">
        <nav>
            <div class="navbar">
                <div class="logo">
                    <img src="/images/logo.jpg" alt="">
                    <h1>SMS</h1>
                </div>
                <ul>
                    <li>
                        <a href="/Admin">
                            <span class="nav-item">Home</span>
                        </a>
                    </li>

                    <li>
                        <a href="/AddSociety">
                            <span class="nav-item">Add Society</span>
                        </a>
                    </li>

                    <li>
                        <a href="/DeleteSociety">
                            <span class="nav-item">Delete Society</span>
                        </a>
                    </li>

                        <li>
                            <a href="/AdminBudget">
                                <span class="nav-item">Assign Budget</span>
                            </a>
                        </li>
                </ul>
            </div>
        </nav>

        <section class="main">
            <div class="main-top">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Society Management System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="main-body">
                   
                <div class="addMember-box">
                    <h1>Add Society</h1>
                        <form method="post">
                            @if (!ModelState.IsValid)
                            {
                                <div class="alert alert-danger">
                                    <ul>
                                        @foreach (var modelState in ViewData.ModelState.Values)
                                        {
                                            foreach (var error in modelState.Errors)
                                            {
                                                <li>@error.ErrorMessage</li>
                                            }
                                        }
                                    </ul>
                                </div>
                            }
                        
                        <div>
                                <label>Society Name:</label>
                                <input type="text" id="societyName" name="society.Name" asp-for="society.Name" />
                        </div>
                        <div>
                                <label>Mentor Name:</label>
                                <input type="text" id="mentorName" name="society.MentorName" asp-for="society.MentorName" />
                        </div>
                        <div>
                            <label>Team Members (Enter 5 names):</label>
                                <label> Enter Vice President</label>
                                <input type="text" id="member1" name="society.Member1" asp-for="society.Member1" />
                                <label> Enter Password</label>
                                <input type="text" id="member1" name="society.Password1" asp-for="society.Password1" />

                                <label> Enter General Secretary</label>
                                <input type="text" id="member2" name="society.Member2" asp-for="society.Member2" />
                                <label> Enter Password</label>
                                <input type="text" id="member1" name="society.Password2" asp-for="society.Password2" />

                                <label> Enter Member</label>
                                <input type="text" id="member3" name="society.Member3" asp-for="society.Member3" />
                                <label> Enter Password</label>
                                <input type="text" id="member1" name="society.Password3" asp-for="society.Password3" />

                                <label> Enter Member</label>
                                <input type="text" id="member4" name="society.Member4" asp-for="society.Member4" />
                                <label> Enter Password</label>
                                <input type="text" id="member1" name="society.Password4" asp-for="society.Password4" />

                                <label> Enter Member</label>
                                <input type="text" id="member5" name="society.Member5" asp-for="society.Member5" />
                                <label> Enter Password</label>
                                <input type="text" id="member1" name="society.Password5" asp-for="society.Password5" />
                        </div>
                        <div>
                                <label>Head of Society:</label>
                                <input type="text" id="headOfSociety" name="society.Head" asp-for="society.Head" />
                                <label>Enter Password:</label>
                                <input type="text" id="headOfSociety" name="society.HeadPassword" asp-for="society.HeadPassword" />
                        </div>
                        <div>
                                <label>Plans:</label>
                                <textarea id="reasontext" rows="5" cols="50" placeholder="Enter Plans ..." asp-for="society.Plans"></textarea>
                        </div>
                        <input id="SubmitBtn" type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </section>
    </div>
    </body>
    </html>
</span>

    
    