@page
@model SE_Project.Pages.CreateMeeting

@{
    Layout = null;
}


<span style="font-family: verdana, geneva, sans-serif;">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>SMS</title>
        <link rel="stylesheet" href="/css/TaskCoordination.css" />
        <!-- Font Awesome Cdn Link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    </head>
    <body>
        <div class="container">
            <nav>
                <div class="navbar">
                    <div class="logo">
                        <img src="/images/logo.jpg" alt="">
                        <h1>SMS</h1>
                    </div>
                    <ul>
                        <li>
                            <a href="/SocietyHead">
                                <span class="nav-item">Home</span>
                            </a>
                        </li>

                        <li>
                            <a href="/ManageMember">
                                <span class="nav-item">Manage Member</span>
                            </a>
                        </li>
                        <li>
                            <a href="ManageEvent">
                                <span class="nav-item">Manage Event</span>
                            </a>
                        </li>
                        <li>
                            <a href="/TaskCoordination">
                                <span class="nav-item">Task Coordination</span>
                            </a>
                        </li>
                        <li>
                            <a href="/CreateMeeting">
                                <span class="nav-item">Create Meeting</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ManageInterview">
                                <span class="nav-item">Manage Interview</span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="logout">
                                <i class="fas fa-sign-out-alt"></i>
                                <span class="nav-item">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <section class="main">
                <div class="main-top">
                    <p>Society Management System</p>
                </div>
                <div class="main-body">
                    <div class="meetingSchedule-box">
                        <h1>Meeting Schedule</h1>
                        <form method="post">
                            <label>MeetingTopic</label>
                            <input type="text" id="MeetingTopic" name="Meetings.MeetingTopic" asp-for="Meetings.MeetingTopic" placeholder="Enter topic" />
                            <label>Society</label>
                            <input type="text" id="Society" name="Meetings.Society" asp-for="Meetings.Society" placeholder="Enter topic" />
                            <label>Date</label>
                            <input type="date" id="startdate" name="Meetings.startdate" asp-for="Meetings.startdate" />
                            <label>start Time</label>
                            <input type="time" id="starttime" name="Meetings.starttime" asp-for="Meetings.starttime" />
                            <label>end Time</label>
                            <input type="time" id="endtime" name="Meetings.endtime" asp-for="Meetings.endtime" />
                            <label>location</label>
                            <input type="text" id="location" name="Meetings.location" asp-for="Meetings.location" placeholder="Enter topic" />
                            <input type="submit" value="Assign" />
                        </form>
                    </div>

                </div>


            </section>
        </div>

    </body>
</html>
</span>
