@page
@model SE_Project.Pages.RegisterEventModel
@{
    Layout = null;
}




<span style="font-family: verdana, geneva, sans-serif;">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>SMS</title>
        <link rel="stylesheet" href="/css/RegisterEvent.css" />
        <!-- Font Awesome Cdn Link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    </head>
    <body>
        <div class="container">
            <nav>
                <div class="navbar">
                    <div class="logo">
                        <img src="/images/logo.jpg" alt="">
                        <h1>SMS</h1>
                    </div>
                    <ul>
                        <li>
                            <a href="/Student?studentname=@Model.Student_name">
                                <span class="nav-item">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ApplyInterview?studentname=@Model.Student_name">
                                <span class="nav-item">Apply for Interview</span>
                            </a>
                        </li>
                        <li>
                            <a href="/RegisterEvent?studentname=@Model.Student_name">
                                <span class="nav-item">Register for Event</span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="logout">
                                <i class="fas fa-sign-out-alt"></i>
                                <span class="nav-item">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>

                </nav>

            <section class="main">
                <div class="main-top">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">Society Management System</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="main-body">
                    <h1>Registered Event</h1>
                    <table>
                        <tr>
                            <td>Event Name</td>
                            <td>Location</td>
                            <td>Date</td>
                            <td>Start Time</td>
                            <td>End Time</td>

                            <td>Response</td>

                        </tr>

                        <tr>
                            <td>Scavenger Hunt</td>
                            <td>C-303</td>
                            <td>25/04/2024</td>
                            <td>2:00 PM</td>
                            <td>3:00 PM</td>

                            <td>
                                <select id="response" onchange="handleResponseChange(this)">
                                    <option value="">Registered</option>
                                    <option value="DeRegister">Deregister</option>
                                </select>

                            </td>
                        </tr>

                    </table>



                </div>

                <div class="main-body">
                    <h1>Apply for Interview</h1>
                    <form method="post">
                        <label>event name</label>
                        <input type="text" id="name" name="registerevents.EventName" asp-for="registerevents.EventName" placeholder="Enter Society" />
                        <label>Name</label>
                        <input type="text" id="name" name="registerevents.Name" asp-for="registerevents.Name" placeholder="Enter Name" />
                        <input id="sub-button" type="submit" value="Submit" />
                    </form>



                </div>

            </section>
        </div>

    </body>
</html>
</span>
