@page
@model SE_Project.Pages.SocietyTeamModel
@{
    Layout = null;
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events Management System</title>
    <link rel="stylesheet" href="/css/SocietyTeam.css">
</head>
<body>
    <div class="container">

        <nav>
            <div class="navbar">
                <div class="logo">
                    <img src="/images/logo.jpg" alt="">
                    <h1>SMS</h1>
                </div>
                <ul>
                    <li>
                        <a href="/Index">
                            <span class="nav-item">Home</span>
                        </a>
                    </li>

                    <li>
                        <a href="/SocietyHead">
                            <span class="nav-item">Society Head</span>
                        </a>
                    </li>
                    <li>
                        <a href="Admin">
                            <span class="nav-item">Admin</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Student">
                            <span class="nav-item">Student</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AboutUS">
                            <span class="nav-item">About US</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="logout">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="nav-item">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
 

        <section class="main">
            <div class="main-top">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Society Management System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="main-body">

                <h2>Announcements</h2>
                <br />
                <table class="announcementTable">

                    <tr>
                        <td id="societyColumn">
                            <h3>Computing Society</h3>
                        </td>
                        <td>
                            <p>Workshop will be held on Tuesday!</p>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <h3>Music Society</h3>
                        </td>
                        <td>
                            <p>Concert Ticekts are available at the front desk.</p>
                        </td>

                    </tr>
                </table>

                <br/>
                <h2>Tasks</h2>
                <br />
                <table class="announcementTable">

                    <tr>
                        <td id="societyColumn">
                            <h3>Task 1</h3>
                        </td>
                        <td>
                            <p>Tasksssssssssssss.</p>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <h3>Task 2</h3>
                        </td>
                        <td>
                            <p>Tasksssssssssssss.</p>
                        </td>

                    </tr>
                </table>

                <br />
                <h2>Meetings</h2>
                <br />
                <table class="announcementTable">
                    <tr>
                        <td>
                            <h3>Meeting Topic</h3>
                        </td>
                        <td>
                            <h3>Location</h3>
                            </td>
                        <td>
                            <h3>Date</h3>
                        </td>
                        <td>
                            <h3>Start Time</h3>
                        </td>
                        <td>
                            <h3>End Time</h3>
                        </td>

                    </tr>

                    <tr>
                        <td>Budget Dissucssion</td>
                        <td>C-101</td>
                        <td>18/04/2024</td>
                        <td>2:00 PM</td>
                        <td>5:00 PM</td>

                        
                    </tr>

                    <tr>
                        <td>Event Scheduling</td>
                        <td>Cricket Ground</td>
                        <td>22/04/2024</td>
                        <td>11:00 AM</td>
                        <td>5:00 PM</td>

                    </tr>


                </table>





        </section>
    </div>

</body>
</html>