@page
@model SE_Project.Pages.StudentModel
@{
    Layout = null;
}



<span style="font-family: verdana, geneva, sans-serif;">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>SMS</title>
        <link rel="stylesheet" href="/css/Student.css" />
        <!-- Font Awesome Cdn Link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    </head>
    <body>
        <div class="container">
            <nav>
                <div class="navbar">
                    <div class="logo">
                        <img src="/images/logo.jpg" alt="">
                        <h1>SMS</h1>
                    </div>
                    <ul>
                        <li>
                            <a href="/Student">
                                <span class="nav-item">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ApplyInterview">
                                <span class="nav-item">Apply for Interview</span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="logout">
                                <i class="fas fa-sign-out-alt"></i>
                                <span class="nav-item">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <section class="main">
                <div class="main-top">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">Society Management System</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="main-body">
                    <h2>Announcements</h2>
                    <br />
                    <table class="announcementTable">

                        <tr>
                            <td id="societyColumn">
                                <h3>Society 1</h3>
                            </td>
                            <td>
                                <p>Announcemetssssssssssssssssssssss.</p>
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <h3>Society 2</h3>
                            </td>
                            <td>
                                <p>Announcemetssssssssssssssssssssss.</p>
                            </td>

                        </tr>
                    </table>

                    <br/>
                    <h2>Events</h2>
                    <br />
                    <table class="eventTable">

                        <tr>
                            <td id="eventColumn">
                                <h3>Society 1</h3>
                            </td>
                            <td>
                                <p>Eventsssssssssssssssssssssss.</p>
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <h3>Society 2</h3>
                            </td>
                            <td>
                                <p>Eventsssssssssssssssssssssss.</p>
                            </td>

                        </tr>
                    </table>




                </div>


            </section>
        </div>

    </body>
</html>
</span>

